<html>
	<head>
		<title>Order Acknowledgment</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
	</head>
	<body>
		<img src ="{{ url_for('static',filename='images/Thanks.jpg') }}" style="margin-left:35%; margin-top:14%" />
		 <br/>
		<a href="/home"><button style="margin-left:41%; margin-top:30px" class="btn btn-Primary">Go to Home Page</button></a>
	</body>
</html>